<%= form_for(@cryptid) do |f| %>
  <% if @cryptid.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cryptid.errors.count, "error") %> prohibited this cryptid from being saved:</h2>

      <ul>
      <% @cryptid.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :biography %><br>
    <%= f.text_area :content, :rows => "10" %>
  </div>

  <div class="field">
    <%= f.label "Upload an image (max size 4 MB)" %>
    <%= f.file_field :image %>
  </div>

  <div class="actions"> 
    <%= f.submit :class => 'buttons-form' %>
  </div>
<% end %>
