<!-- <p id="notice"><#%= notice %></p> -->
    <h1 class="sub">
      <%= @cryptid.name %>
    </h1>
    <article>
    <% if @cryptid.image.exists? %>
      <img src="<%= @cryptid.image(:medium) %>">
    <% end %>
    <p>
      <%= @cryptid.content %>
    </p>
    <% if can? :update, @cryptid %>
      <%= link_to 'Edit', edit_cryptid_path(@cryptid) %> |
      <% end %>
    <% if can? :destroy, @cryptid %>
      <%= link_to 'Delete', @cryptid, method: :delete, data: { confirm: 'Are you sure you want to delete this cryptid?' } %> |
    <% end %>   
    <%= link_to 'Home', "/" %>

    </article>