<!-- <p id="notice"><#%= notice %></p> -->

<h1>
  <%= @cryptid.name %>
</h1>
<img src="<%= @cryptid.image(:medium) %>">
<p>
  <%= @cryptid.content %>
</p>

<%= link_to 'Edit', edit_cryptid_path(@cryptid) %> |
<%= link_to 'Back', cryptids_path %>