<!-- <p id="notice"><#%= notice %></p> -->
    <h2 id="sub">
      <%= @cryptid.name %>
    </h2>
    <article>
    <% if @cryptid.image.exists? %>
      <img src="<%= @cryptid.image(:medium) %>">
    <% end %>
    <p>
      <%= @cryptid.content %>
    </p>

    <%= link_to 'Edit', edit_cryptid_path(@cryptid) %> |
    <%= link_to 'More encounters', "/" %>

    </article>