<!-- <p id="notice"><#%= notice %></p> -->
<div class="grid">
  <div class="col-2-3">
    <h1>
      <%= @cryptid.name %>
    </h1>
    <article>
    <% if @cryptid.image.exists? %>
      <img src="<%= @cryptid.image(:medium) %>">
    <% end %>
    <p>
      <%= @cryptid.content %>
    </p>

    <%= link_to 'Edit', edit_cryptid_path(@cryptid) %> |
    <%= link_to 'More encounters', "/" %>

    </article>
  </div>
  <div class="col-1-3">
    <div class="cryptids-list">
      <h2>Cryptids</h2>
      <ul id="cryptids">

        <%# @cryptids.each do |cryptid| %>
          <li><%#= link_to cryptid.name, cryptid_path(cryptid) %></li>
        <%# end %>
      </ul>
    </div>
  </div>
</div>