<% if @user.image.exists? %>
  <img src="<%= @user.image(:medium) %>">
<% end %>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>
<p>
  <strong>Name:</strong>
  <%= @user.first_name %>  <%= @user.last_name %>
</p>


<% if can? :update, @user %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', "/" %>
