<% if @user.image.exists? %>
  <img src="<%= @user.image(:medium) %>">
<% end %>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>
<p>
  <strong>Name:</strong>
  <%= @user.first_name %>  <%= @user.last_name %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', "/" %>
