<!-- <p id="notice"><#%= notice %></p> -->

<h1>
  <%= @encounter.title %>
</h1>

<p>
  <%= @encounter.content %>
</p>
  <!-- if statement is a temporary solution, until all encounters are tied to a user -->
  <% if @encounter.user %>
  <%= @encounter.user.email %>
  <% end %>  
  <%= @encounter.cryptid_id %>


<%= link_to 'Edit', edit_encounter_path(@encounter) %> |
<%= link_to 'Back', encounters_path %>