<!DOCTYPE html>
<html>
  <head>
    <title>Cryptid Sightings Across the World</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header>
      <span>Tell Your Story</span>
      <h1>Cryptid Sightings</h1>
      <div id="nav">
        <%#= link_to "Encounters", encounters_path %>
        <%#= link_to "Cryptids", cryptids_path %>
        <%= link_to "Home", "/" %>        
        <% if current_user %>
          <%= link_to "Edit Profile", edit_user_path(current_user.id) %>
          <%= link_to "Logout", :logout, method: :post %>
        <% else %>
          <%= link_to "Register", new_user_path %> |
          <%= link_to "Login", :login %>
        <% end %>
      </div>
      <div>
        <p id="notice"><%= flash[:notice] %></p>
        <p id="alert"><%= flash[:alert] %></p>
      </div>
    </header>

    <%= yield %>

    <footer><p>Don't be scared</p></footer>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
